@import "fonts";
@import "compass/css3/transform";
@import "compass/css3";


body.single-kits, body.page-template-layoutpage-template-kit-detail-php{
	section{
		padding: 200px 0;
		background-size: cover;
		

		&.masthead{
			padding-bottom: 300px;
			position: relative;

			.btn{
				z-index: 90;
				position: relative;
			}

			.container{
				position: relative;
				z-index: 10;
			}

			.video{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				
				overflow: hidden;

				video{
					/* Make video to at least 100% wide and tall */
					  min-width: 100%; 
					  min-height: 100%; 
					  
					  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
					  width: auto;
					  height: auto;
					  
					  /* Center the video */
					  position: absolute;
					  top: 50%;
					  left: 50%;
					  transform: translate(-50%,-50%);


				}

				&:after{
					  	position: absolute;
					  	left: 0;
					  	top: 0;
					  	background-color: rgba(0,0,0, .3);
					  	width: 100%;
					  	height: 100%;
					 	display: block;
					 	content: ""; 	
					  }
			}
		}

		&.masthead, &.callout{
			color: white;
			

			h1, p{
				margin-bottom: 30px;
			}
		}

		&.product{

			.weight, .price{
				font-size: 28px;
				display: inline-block;
				font-family: $minionBold;
				margin-top: 20px;
			}

			.weight-label, .up-sell-label{
				font-size: 13px;
				font-family: $avenirBlack;
				letter-spacing: 1px;
				text-transform: uppercase;
				display: block;
				color: rgba(0,0,0,.5);
				margin-bottom: 20px;
			}

			p{
				margin: 0 0 20px 0;
			}

			.btn{
				margin-right: 20px;
			}

			.float-yes{
				

				.container{
				background-color: white;
				@include box-shadow(0 0 10px rgba(0,0,0,.3));
				padding: 40px;
				@include border-radius(4px);	
				}
			}

			&.left{
				.float-yes{
					@include transform(translateX(-10%)translateY(-10%));
					z-index: 20;
				}

				

				&.gallery{
					.carousel.slide{
						@include transform(translateX(10%)translateY(10%));
					}
				}
			}

			&.right{
				.float-yes{
					@include transform(translateX(10%)translateY(10%));
					z-index: 20;
				}

				&.gallery{
					.carousel.slide{
						@include transform(translateX(-10%)translateY(-10%));
					}
				}
			}
		}

		&.collection{
			padding-bottom: 0px;
			h3{
					color: white;
			}
			@include transform(translateY(-340px));
			.product-collection-item{
				display: inline-block;
				width: 33%;
				
				height: 120px;
				margin: 40px -4px 40px 0;
				padding-right: 40px;


				



				h6{
					padding-left: 140px; 
					    vertical-align: top;
					    display: inline-block;
					    background-color: white;
					    width: 100%;
					    @include border-radius(4px);
					    @include box-shadow(0 0 5px 1px rgba(0,0,0,.3));
					    padding: 50px 20px 40px 150px;
					    
					    min-height: 120px;
					    background-repeat: no-repeat;
					    background-size: 100px auto;
					    background-position: 20px 20px;
				}
			}

			@media screen and (max-width: 1230px){
				.product-collection-item{
					width: 50%;
				}		
			}

			@media screen and (max-width: 830px){
				.product-collection-item{
					width: 100%;
					margin: 10px 0 10px 0;
					padding: 0;

					&:first-child{
						margin-top: 40px;
					}
					h6{

					}
				}		
			}

			.all-price{
				margin-top: 100px;


			}

			.price{
				font-size: 28px;
				display: inline-block;
				font-family: $minionBold;
				margin-top: 4px;
			}

			.shipping{
				font-size: 13px;
				font-family: $avenirBlack;
				letter-spacing: 1px;
				text-transform: uppercase;
				display: block;
				color: rgba(0,0,0,.5);
				margin-bottom: 20px;
			}
		}

	}
}



body.post-type-archive-kits{
	h1{
		margin: 60px 0;
	}
}


.card-module{
	

	.card{
		background-repeat: no-repeat;
		&.Beginners{
			background-size: 770px auto;
			background-position: -280px 0px;				
		}

		&.Couples{
		background-size: 800px auto;
		background-position: -110px 0px;				
		}

		
	}
}
